@page
@using Microsoft.AspNetCore.Authorization;
@attribute [Authorize(Roles = "Admin")]
@model TimimInnovation.Pages.Admin.Securities.Activity.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>LastActivity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="LastActivity.LastActivityId" />
            <div class="form-group">
                <label asp-for="LastActivity.Username" class="control-label"></label>
                <input asp-for="LastActivity.Username" class="form-control" />
                <span asp-validation-for="LastActivity.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastActivity.LastSeen" class="control-label"></label>
                <input asp-for="LastActivity.LastSeen" class="form-control" />
                <span asp-validation-for="LastActivity.LastSeen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
