@page
@model TimimInnovation.Pages.aboutModel
@{
    Layout = "_Layout"; // Assuming you have a layout you want to use
}

<div class="container my-5">
    <h1>Welcome to Timim Time-Important!</h1>
    <p>
        <b></b>The Timim Time-Important App, websites, features, and other services </>(collectively called “Timim Time-Important”) enable you to link with our customers who are desirous of requesting/booking and receiving any of the services approved under Timim Time-Important within the domestic and global real estate and hospitality industry as well as background check services (specify other services approved to be provided under the App “the Services”).
    </p>
</div>

<div class="container my-5">
    Timim Time-Importantis operated by Timim Time-Important Nigeria Limited (TIMIM). Importantly, TIMIMis the provider of the Timim Time-Important platform and necessary supporting services. Provision of the actual physical dwelling structures is the sole responsibility of the vendor while TIMIM facilitates the linking of vendors and customers for the provision of the Services.

    These General Terms set forth the main terms and conditions applying to and governing the agreement between you (hereinafter referred to as "you" or “your” or "Vendor") and TIMIMregarding your usage of Timim Time-Importantfor the purpose of providing theServices to customers.

    In order to provide the Services via using Timim Time-Importantyou must agree to the terms and conditions that are set forth below.

</div>

<div class="container my-5">
    <p> 1.	DEFINITIONS </p>

    In this General Terms, including the preamble, unless otherwise expressly provided or except the context otherwise requires, the following capitalised words shall have the following meanings assigned to them:
</div>

<div class="container my-5">
    1.1.	Affiliate means an individual or entity that is directly or indirectly under the control of TIMIM and which provides the Timim Time-Important services.

    1.2.	Agreement means any agreement between you and TIMIM regarding the use of Timim Time-Important. The Agreement consists of these General Terms, privacy policy, and other additional terms and conditions or documents referred to herein or agreed in the future between you and TIMIM.

    1.3.	TIMIM (also referred to as "we", "our" or "us") means Timim Time-Important Nigeria Limited, a private limited liability company incorporated and registered under the laws of the Federal Republic of Nigeria with registration numberRC 1768198 and having its registered office at Number 6, Ikosi Road, Off Kudirat Abiola Way, Oregun, Lagos State, Nigeria.

    1.4.	Timim Time-Important App means for the purpose of this General Terms, the Timim Time-Important App, which customers and Vendors use to receive and accept requests and manage the Services with Customers. The app is owned by Timim and maintained by MessrsEmsoft ICT Consult.

    1.5.	Timim Time-Important Fee means the fees you are obliged to pay to TIMIM for the use of Timim Time-Important’s services. Timim Time-Important Fee are detailed in the individual contracts entered with each customer/vendor utilizing our services.

    1.6.	Timim Time-Important’s Servicesmeans services that we provide you, including provision and maintenance of the Timim Time-Important Apartments or other dwelling spaces as well as background check services and the Timim Time-Important platform, client support, mediation of the payments and communication between you and the Customer or other similar support services as described in these General Terms or the Agreement.

    1.7.	Timim Time-Important Vendor's Portal means the portal containing relevant information and documents regarding your usage of the Timim Time-Important App in course of provision of the Services, including administrative documentation. You may access Timim Time-Important Vendor's Portal by entering your username and password.

    1.8.	Customer means a person requesting the Services by using the Timim Time-Important App.

    1.9.	Fees means the total fee a Customer is obliged to pay for provision of the Services.

    1.10.	General Terms means the terms and conditions provided in this document.

    1.11.	In-app Payment means a payment made by the Customer via the Timim Time-Important App for the Services. The In-app Payment may be made by using bank/credit card, business, mobile carrier payment or any other electronic payment method enabled by TIMIM.

    1.12.	License means your right to use the Timim Time-Important App and Website in accordance with the Agreement.

    1.13.	Services means the accommodation and background check services, (specify other services approved to be provided under the App) approved under the Timim Time-Important platform which is being provided to the Customer whose request has been accepted via the Timim Time-Important App.

    1.14.	Vendor means the person providing the property for related services via the Timim Time-Important App. Please note that you may register the account either as a legal or a natural person.

    1.15.	 Website means TIMIM’s website located at [specify the link to website] and any of its subpages, including the Timim Time-Important Vendor’s Portal.

    2.	ENTRY INTO THE AGREEMENT

    2.1.	Prior to using Timim Time-Importantyou must sign up by providing the requested information in the signup application and uploading necessary documentation as we require either on our Website or Timim Time-Important App. The use of Timim Time-Important also requires registration of a user account.

    2.2.	Upon successful completion of the signup application we will provide you with a personal account accessible via the user name and password that you have chosen. By clicking the “Sign up” button located at the end of the signup application, you represent and warrant that:

    2.2.1.	you have carefully studied, fully understand and agree to be bound by these General Terms, including all you obligations that arise as provided herein;

    2.2.2.	according to law you are entitled to enter into an agreement with us to use ourTimim Time-Important App for providing Services;

    2.2.3.	all the information you have presented to us is accurate, correct and complete;

    2.2.4.	you will not authorise other persons to use your account nor transfer or assign it to any other person;

    2.2.5.	you will not use Timim’s app for unauthorised or unlawful purposes and impair the proper operation of the Timim Time-ImportantApp;

    2.2.6.	you will not copy or distribute the Timim Time-Important App or other Timim Time-Important content without our prior written permission;

    2.2.7.	you will keep your Timim Time-Importantaccount and Timim Time-Important Vendor’s Platform  accurate and profile information updated at all times;

    2.2.8.	at all times you will fully comply with all laws and regulations applicable in Nigeria and the state in which you are providing the Services, including (but not limited to) laws regulating theServices;

    2.2.9.	you are neither an employee nor an agent of TIMIMor its  Affiliate;

    2.2.10.	you are obliged to satisfy all mandatory requirements prior to account activation.

</div>
<div class="container my-5">
    2.3.	You are obliged to provide your own bank requisites in the course of filling the payment details upon registration. In case you are a legal person, you must insert the bank account of the Company. We will be transferring the In-app Payment fees to the bank account you have provided after receiving the Fees from the Customer. TIMIMand/or its Affiliates are not liable for any incorrect money transactions in case you have provided wrong bank requisites.

    2.4.	After submitting the signup application, you will receive an e-mail with additional conditions that must be met in order to provide the Services through the Timim Time-Important platform. These conditions may include providing business registration documentation, certificate(s) of completion of a training course on the Services, owning a GPS-supporting mobile device, pictures of your property being uploaded for rent, sale or hire and other conditions as described in the pertinent e-mail. The failure to comply with the provided requirements and conditions will result in termination of the Agreement and right to use the Timim Time-Important App.

    2.5.	Registering the account as a legal person (i.e. a Company). You are a legal person, if the recipient of the Fees is marked as a legal person in your payment details (as accessible on the Timim Time-Important Vendor's Portal). In such case the indicated legal person is the provider of the property/services and a party to these General Terms as well as any further documents of the Agreement. Regardless of the above, only the specific natural person indicated in the signup process may factually provide the Services. Such natural person may use the account of the Vendor only if he/she has read and agrees to be bound by these General Terms and any further documentation that is part of the Agreement. The legal person in the payment details and the natural person factually providing the Services under one Timim Time-Important account shall remain jointly and severally liable for any infringement of the Agreement conducted by the Vendor.

</div>
<div class="container my-5">
    3.	YOUR RIGHT TO USE THE TIMIM TIME-IMPORTANTAPP AND THE WEBSITE
</div>
<div class="container my-5">
    3.1.	The Timim Time-ImportantApp. The Timim Time-Importantallows requests from the Customers interested in using the property which can either be accepted or ignored at your own choosing. For additional information about Timim Time-Importantplease refer to the Website.

    3.2.	License to use the Timim Time-ImportantApp and the Website. We hereby grant you, subject to the provisions of the Agreement, a non-exclusive, non-sub licensable, non-transferable License to use the Timim Time-ImportantApp and the Website according to the terms referred to herein.

    3.3.	In course of using the Timim Time-ImportantApp and/or the Website you may not:

    3.3.1.	decompile, reverse engineer, or otherwise attempt to obtain the source code of the Timim Time-Important App and/or the Website;

    3.3.2.	modify the Timim Time-Important App and/or the Website in any manner;

    3.3.3.	transmit files that contain viruses, corrupted files, or any other similar programs that may damage or adversely affect the operation of another person's computer, Timim Time-Important, Timim Time-Important App and/or the Website, hardware, or telecommunications equipment;

    3.3.4.	attempt to gain unauthorized access to the Timim Time-Important App and/or the Website or any other Timim Time-Important services.

    3.4.	In order to use the Timim Time-Important App and Website you are obliged to pay the Timim Time-ImportantFee as described in these General Terms.

    3.5.	The License granted herein revokes automatically and simultaneously with termination of the Agreement. After termination of the Agreement you must immediately stop using the Timim Time-Important App and we are entitled to block and delete your account without a prior notice.

    3.6.	Using Vendor's forum and other Website content. We may grant you access to our Vendors’ forum and other content accessible via the Website. Using this forum, you may not publish, post, upload, e-mail, distribute, or disseminate any inappropriate, profane, defamatory, misleading, infringing, obscene, indecent, or unlawful content. We may restrict your access to the for a or Timim Time-ImportantApp, if you infringe the aforementioned obligations.

    3.7.	Using tags and labels of Timim Time-Important. We may give you tags, labels, stickers or other signs that indicate that you are using the Timim Time-Important App. We grant you a non-exclusive, non-sublicensable, non-transferable license to use such signs and only for the purpose of indicating that you are providing the Services via using the Timim Time-ImportantApp. After termination of the Agreement you must immediately remove and discard any signs that refer to us or our brand.

    3.8.	All copyrights and trademarks related to Timim Time-Important, including source code, databases, logos and visual designs are owned by TIMIMand protected by copyright, trademark and/or trade secret laws and international treaty provisions. By using the Timim Time-Important App, Website or any other Timim Time-Important services you do not acquire any rights of ownership to any intellectual property of TIMIM.


    4.	PROVIDING THE SERVICES

    4.1.	Our Obligations. We hereby guarantee to provide the Services in accordance with the Agreement as well as laws and regulations applicable in Nigeria and the state where you are providing the Services.

    4.2.	You must have all licenses, permits, insurance, registrations, certifications and other documentation that are required in Nigeria and applicable state for providing the property under ourServices. It is your obligation to maintain the validity of all aforementioned documentation. We reserve the right to require you to present evidence and submit for review all the necessary licenses, permits, approvals, authority, registrations and certifications as well as their renewals.

    4.3.	You must provide the property in a professional manner in accordance with the business ethics applicable to providing such services.

    4.4.	Costs incurred while providing the Services. Vendors/Property owners are obliged to provide and maintain the property and all appurtenances and equipment attached thereto that are necessary for its optimum performance at own expense. Vendors/Owners are also responsible for reimbursing Timim for all costs incurredin the course of performing the Services including, but not limited to rent, mobile data plan costs, insurance, relevant corporate or payroll taxes etc.

    4.5.	Fees. We are entitled to charge a fee for each instance in which we have accepted a Customer’s request/order via the Timim Time-ImportantApp and completed the Service as requested (i.e. Fee). The following terms also apply to payment of Fees.

    •	If Customer cancels before the set cancellation deadline, the Customer will be refunded immediately

    •	If Customer confirms completion of the Service without complaint, the Vendor will be paid after 5 working days

    •	If Customer confirms completion of the Service and the Vendor also confirms that the Service is completed, the Vendor will be paid immediately

    •	If Vendor confirms completion of the Service and the Customer also confirms Service was completed, the Vendor will be paid immediately

    •	If Vendor confirms completion of the Service and the Customer does not respond/lodge a complaint, the Vendor will be paid after 5 working days

    •	If Vendor confirms completion of the Service and the Customer rejects completion of the Service because Customer did not show up, the Vendor will be paid immediately

    •	If Vendor confirms Service is completed and Customer rejects completion of theService due to serviceunavailability -email sent to customer.enquiries@Timim.net with booking details, vendor details & customer details for further investigation

    •	If Customer rejects Service completion due to Timim’s unavailability and Timimalso rejects completion of Service due to Customer not showing up - email to be sent to customer.enquiries@Timim.net with booking details, vendor details & customer details for further investigation

    4.6.	Customers shall pay the fees via the In-app Payment as described in these General Terms.

    4.7.	Receipts. After each successful provision of the Services, we shall create a receipt consisting of relevant information on the Services provided.

    4.8.	We shall not be liable for any direct or indirect damages to your equipment or asset caused by a Customer in the course of receiving the Service.

    4.9.	Your tax obligations. You hereby acknowledge that you are obliged to fully comply with all tax obligations that arise to you from the applicable laws in relation to providing the Services, including (if applicable) (i) acquiring a valid VAT number; (ii) paying income tax or any other tax applicable; and (iii) fulfilling all tax registration obligations and calculating and remitting all tax liabilities related to your provision of the Services as required by the applicable law. Additionally, it is your obligation to provide us with all relevant tax information, including (among others) your VAT number. Please notethat TIMIMmay in its reasonable discretion and based on applicable tax law, collect and remit taxes resulting from your provision of the Services and/or provide any of the relevant tax information directly to the applicable governmental tax authorities on your behalf.

    5.	TIMIM TIME-IMPORTANT FEES

    5.1.	In order to use the Timim Time-Important App and/or the Website, you are obliged to pay us a fee (i.e. the Timim Time-Important Fee) based on each Service order completed utilizing your property/asset. The amount of the Timim Time-Important Fee is made available to you via e-mail, Timim Time-ImportantApp, Timim Time-Important Vendor's Portal or other pertinent means.

    5.2.	The Timim Time-Important Fee shall be [specify percentage] % of the Fee paid by the Customer. We shall deduct the Timim Time-Important Fee prior to transferring your Fees. Please note that the Timim Time-ImportantFee may change from time to time. We shall send you a prior notification of each such change.

</div>
<div class="container my-5">
    6.	IN-APP PAYMENTS
</div>
<div class="container my-5">
    6.1.	We enable Customers to pay for the Services via bank card, Business or mobile carrier payment directly in the app (i.e. In-app Payment). You hereby authorise us to act as your agent solely for the purpose of collecting, on your behalf, the Fees, applicable taxes or other fees paid by the Customer via In-app Payment.


    6.2.	You are entitled to review In-app Payment reports in the Timim Time-Important Vendor's Portal. We will send In-app Payment and Vendor's account balance to your e-mail.

    6.3.	Please note that we are not obliged to pay you the Fees due from the Customer if the In-app Payment failed because Customer's bank card or mobile payment is cancelled or is unsuccessful for reasons not attributable to us. In such case we will help you in requesting the Fees due from the Customer, and shall transmit it to you once the Customer has made the requested payment.

    6.4.	Before rendering the Services, you must verify that the Service is being actually provided to the Customer or that the Customer has expressly confirmed that it allows another customer to receive the Services under his/her account.

    6.5.	You hereby warrant that you understand that In-app Payment does not supersede the requirements established by the laws and regulations, e.g. your obligation to provide the Customer with a receipt.

    6.6.	You must notify us of any important circumstances which may affect our obligations to collect and distribute the Fees paid via In-app Payment.

</div>
<div class="container my-5">
    7.	CUSTOMER SUPPORT
</div>

<div class="container my-5">
    7.1.	As one of our services, we may provide you customer support regarding using the Timim Time-Important App.

    8.	RATINGS AND ACTIVITY

    8.1.	In order to guarantee high-quality service via Timim Time-Importantand provide additional reassurance to our Customers, Customers may provide a rating and leave feedback regarding the quality of the Services provided. An average rating will be linked to Timim Time-Importantcustomer accountsand available to Customers when requesting ourServices. The Customer is obliged to provide the ratings and comments in good faith, and if we, in our discretion, find a particular rating or comment to not be in good faith, we may remove it.

    8.2.	In addition to the rating, we measure levels of activity and provide an activity score, which is based on the customers’ activity regarding accepting, declining, not responding and completing Service orders.

    8.3.	In order to provide reliable services to Customers, we may determine a minimum average rating and a minimum activity score that all Vendors must establish and maintain. If, after a pertinent notification from us, you do not increase your average rating or activity score above the minimum within the prescribed time period, your Timim Time-Important account will be automatically suspended either temporarily or permanently. We may reverse the suspension of your account if it is merited by any external circumstances or it is detected that the suspension was caused by a system error or false ratings.

</div>

<div class="container my-5">
    9.	MARKET OVERVIEWS AND CAMPAIGNS
</div>

<div class="container my-5">
    9.1.	Market overviews. We may send you, via the Timim Time-Important App, SMS, e-mail or other means, market overviews, in order to increase your awareness regarding when the demand by the Customer is highest. Please note that such market overviews are merely recommendatory and do not constitute any obligations for you. As the market overview estimations are based on previous statistics, we cannot give any guarantees that the actual market situation will correspond to the estimations provided in the market overview.

    9.2.	Campaigns for Customers. We may also occasionally arrange various campaigns to Customers in order to market Timim Time-Important whereby the Fees paid by the Customer are reduced. This campaign may be initiated by us or you. In such case we will notify you about specific campaign terms and may in cases where the campaign is initiated by us, pay you compensation, amounting to the monetary value of the benefit offered to the Customer. However, if you initiate the campaign, we shall not compensate you for the difference between the amounts you should have received and actually receive due to your initiated marketing campaign.

    10.	PROCESSING OF PERSONAL DATA

    10.1	Processing your personal data. Please refer to our privacy policy (specify link for privacy policy) for detailed information regarding the information we collect about you, how it is used and shared and the rights and choices you have regarding this information.

    10.1	You may request to see, update or remove your personal data through your Timim Time-Important account. However, please note that if you request to remove your personal data, we may have to terminate your right to provide the Services via your Timim Time-Important account. After you delete your Timim Time-Important account, we shall delete your personal data. However, certain personal data may be kept for a longer period of time, if so required by the applicable law. Please refer to our privacy policy (specify link for privacy policy) for detailed information on this.

</div>
<div class="container my-5">
    11	TIMIMLIABILITY
</div>

<div class="container my-5">
    11.1	The Timim Time-ImportantApp and Website is provided on an "as is" and "as available" basis. TIMIMand its Affiliates do not represent, warrant or guarantee that access to Timim Time-ImportantApp and Website will be uninterrupted or error free. As the usage of Timim Time-Important App and Websites for requesting the Services depends on the behavior of Customers, TIMIMand its Affiliates do not guarantee that your usage of the Timim Time-Important App and Websites will result in any Service bookings or requests. TIMIMis not liable for the improper functioning of the Timim Time-ImportantApp and any loss or damage that you may incur as a result.

    11.2	To the maximum extent permitted under the applicable laws and regulation,TIMIMand its Affiliates, representatives, directors and employees are not liable for any loss or damage incurred under or in connection with the Agreement or as a result of using the Timim Time-ImportantApp, including but not limited to:

    •	any direct or indirect property damage or monetary loss;
    •	loss of profit or anticipated savings;
    •	loss of business, contracts, contacts, goodwill, reputation and any loss that may arise from interruption of the business;
    •	loss or inaccuracy of data;
    •	injury or loss of life to a third party or customer arising from usage of the Timim Time-ImportantApp and
    •	any other type of loss or damage.

    11.3	Please note that you are fully liable for breach of the Agreement and/or any other applicable laws or regulations and must stop and remedy such breach immediately after receipt of a respective demand from TIMIMor any other authority.

    11.4	You are obliged to comply with all tax obligations you may incur in relation to fulfilling your obligations arising from the Agreement or providing the Services. You shall indemnify TIMIMand its Affiliates from all tax liabilities, duties, levies, claims and penalties that it incurs as a result of your failure to comply with your tax obligations (including, but not limited to, failure to pay or remit the applicable tax).

    11.5	In case TIMIMis entitled to present any claims against you, then you shall compensate TIMIM for any legal costs related to evaluation of the damages and submission of claims relating to compensation for such damage.

    12	TERM AND TERMINATION

    12.1	The conditions expressly specified in these General Terms shall enter into force upon submitting the signup application located on the Timim Time-Important App or Website. Each other document that is part of the Agreement shall enter into force once the specific document has been made available to you and you commence or continue providing the Services, unless prescribed otherwise in the Agreement.

    12.2	You may terminate the Agreement at any time by notifyingTIMIMat least 7 (seven) days in advance, after which your right to use the Timim Time-Important App and Timim Time-Important services shall terminate. The Agreement will also terminate upon the deletion of your Timim Time-Importantaccount.

    12.3	TIMIMmay terminate the Agreement at any time and for any reason at its sole discretion by notifying you at least 2 (two) days in advance.

    12.4	TIMIMis entitled to immediately terminate the Agreement and block your access to Timim Time-ImportantApp without giving any advance notice in case you breach the Agreement, any applicable laws or regulations, disparage TIMIMor its Affiliates, or cause harm to its brand, reputation or business as determined by TIMIMin its sole discretion. In the aforementioned casesTIMIMmay, at its own discretion, prohibit you from registering a new account or take other necessary steps to stop you from accessing or providing the Services(as applicable) through the Timim Time-Important App.

    12.5	TIMIMmay also immediately block your access to the Timim Time-Important App and other services for the period of investigation, if we suspect an infringement of the Agreement or fraudulent activity from your behalf. The block of access will be removed once the investigation disproves such suspicions.

    12.6	TIMIMis aiming to provide the highest quality service to all Customers and is monitoring the activity of Customers and Vendors in its system. If you fail to meet the minimal service requirements, such as the obligation to possess a certain minimal rating and activity score,TIMIMis entitled to immediately terminate the Agreement without giving any advance notice.

    13	AMENDMENTS

    13.1	TIMIMhas the sole right to make changes to any of the documents forming part of the Agreement. Any changes to the Agreement shall enter into force after they have been made available to you via e-mail, Timim Time-Important App or Timim Time-Important Vendor's Portal and you have continued to provide the Services, unless prescribed otherwise in the Agreement.

    13.2	In order to amend the General Terms, TIMIMshall post a revised version of the Agreement on the Website (specify website link‎) and give you prior notice. If you continue to use the Timim Time-ImportantApp, you shall be deemed to have accepted the revised conditions.

    14	APPLICABLE LAW AND COURT JURISDICTION

    14.1	The Agreement shall be governed by, and construed and enforced in accordance with the laws of the Federal Republic of Nigeria.

    14.2	Any dispute that may arise in connection with this Agreement, whether with respect to its existence, validity, interpretation, performance, breach, termination or otherwise, shall first be attempted to be settled by way of negotiations. If the respective dispute resulting from this Agreement could not be settled by the negotiations after thirty (30) business days after same is initiated, then the dispute will be finally solved by the appropriate court in the Federal Republic of Nigeria.

    15	CONTACT INFORMATION

    15.1	You are obligated to immediately notify TIMIMof any changes of your contact information and guarantee to keep the contact information accurate and up to date through the Timim Time-Important App.

    15.2	The contact information of TIMIMis available at the Website.

    16	FINAL PROVISIONS

    17.1	If any provision of the Agreement is held to be unenforceable, the parties shall substitute for the affected provision an enforceable provision that approximates the intent and economic effect of the affected provision. The failure or delay by either party to enforce any term of the Agreement shall not be deemed a waiver of such term.

    17.2	You may not assign the Agreement or any of its rights or obligations there under, if not provided otherwise by the Agreement.

    17.3	Any notice required to be given under this Agreement shall be sufficiently given if: (i) delivered personally, (ii) sent by courier with proof of delivery, (iii) sent by registered mail, (iv) sent by e-mail or (v) made available via theTimim Time-Important App. Any notice which is sent or dispatched in accordance with this clause 17.3 shall be deemed to have been received: (i) if delivered personally, at the time of delivery to the party; (ii) if delivered by courier, on the date stated by the courier as being the date on which the envelope containing the
</div>
<div class="container my-5">
    notice was delivered to the party; (iii) if sent by registered mail, on the 10th day after handing the document over to the post office for delivery to the party; (iv) if made available via the Timim Time-Important App, or (v) if sent by e-mail, on the day the party receiving the e-mail confirms receiving the respective e-mail or on the 2nd day following the dispatch of the e-mail provided that the sender has not received an error notice (notifying that the e-mail was not delivered to the party) and has sent the e-mail again on the next calendar day and has not received a similar error notice.

    17.4	Date of entry into force of the General Terms: [●]

</div>



 