@page
@using Microsoft.AspNetCore.Authorization;
@attribute [Authorize(Roles = "Admin")]
@model TimimInnovation.Pages.Accords.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center mb-4">Property Owner Terms And Conditions</h1>

<div class="container mt-4">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

        <div class="form-group">
            <label asp-for="Concord.ConcordTitle" class="control-label"></label>
            <input asp-for="Concord.ConcordTitle" class="form-control" placeholder="Enter Title" />
            <span asp-validation-for="Concord.ConcordTitle" class="text-danger"></span>
        </div>

        <!-- Dropdowns for Continent, Country, and State -->
        <div class="form-group">
            <label asp-for="Concord.ConcordContinent" class="control-label"></label>
            <select asp-for="Concord.ConcordContinent" class="form-control" id="continentDropdown">
                <!-- Continents added directly since it's static -->
                <option value="Africa">Africa</option>
                <option value="Asia">Asia</option>
                <option value="Europe">Europe</option>
                <option value="North America">North America</option>
                <option value="South America">South America</option>
                <option value="Australia">Australia</option>
            </select>
        </div>
        <div class="form-group">
            <label asp-for="Concord.ConcordCountry" class="control-label"></label>
            <select asp-for="Concord.ConcordCountry" class="form-control" id="countryDropdown"></select>
        </div>
        <div class="form-group">
            <label asp-for="Concord.ConcordState" class="control-label"></label>
            <select asp-for="Concord.ConcordState" class="form-control" id="stateDropdown"></select>
        </div>

        <!-- Textarea for Terms and Conditions -->
        <div class="form-group">
            <label asp-for="Concord.ConcordText" class="control-label"></label>
            <textarea asp-for="Concord.ConcordText" class="form-control" rows="10" style="width: 100%;" placeholder="Enter Terms and Conditions"></textarea>
            <span asp-validation-for="Concord.ConcordText" class="text-danger"></span>
        </div>

        <div class="form-group text-center">
            <input type="submit" value="Submit" class="btn btn-primary btn-lg" />
        </div>
    </form>

    <div class="mt-4 text-center">
       
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(document).ready(function () {

            const apiRegionMap = {
                "North America": "Americas",
                "South America": "Americas",
                // add other continents if they have different naming in the API
            };

            function fetchCountries(continent) {
                let apiRegion = apiRegionMap[continent] || continent;

                $.get('https://restcountries.com/v3.1/all', function (data) {
                    let filteredCountries = data.filter(country => country.region === apiRegion);

                    $('#countryDropdown').empty();
                    filteredCountries.forEach(country => {
                        $('#countryDropdown').append(`<option value="${country.name.common}">${country.name.common}</option>`);
                    });

                    if (continent === "Africa") {
                        $('#countryDropdown').val('Nigeria').change();
                    }
                });
            }

            // Use hardcoded data for states since the restcountries API doesn't provide state/region details
            const statesByCountry = {
                "Nigeria": [
                    "Abia", "Adamawa", "Akwa Ibom", "Anambra", "Bauchi", "Bayelsa", "Benue",
                    "Borno", "Cross River", "Delta", "Ebonyi", "Edo", "Ekiti", "Enugu",
                    "Gombe", "Imo", "Jigawa", "Kaduna", "Kano", "Katsina", "Kebbi", "Kogi",
                    "Kwara", "Lagos", "Nasarawa", "Niger", "Ogun", "Ondo", "Osun", "Oyo",
                    "Plateau", "Rivers", "Sokoto", "Taraba", "Yobe", "Zamfara", "FCT"
                ],
                "Ghana": [
                    "Ahafo", "Ashanti", "Bono", "Bono East", "Central", "Eastern", "Greater Accra",
                    "Northern", "North East", "Oti", "Savannah", "Upper East", "Upper West",
                    "Volta", "Western", "Western North"
                ],
                "Mali": [
                    "Bamako", "Gao", "Kayes", "Kidal", "Koulikoro", "Mopti", "Ségou", "Sikasso", "Taoudénit", "Tombouctou"
                ],
                "Senegal": [
                    "Dakar", "Diourbel", "Fatick", "Kaffrine", "Kaolack", "Kédougou", "Kolda", "Louga", "Matam", "Saint-Louis", "Sédhiou", "Tambacounda", "Thiès", "Ziguinchor"
                ],
                "Ivory Coast": [
                    "Abidjan", "Bas-Sassandra", "Comoé", "Denguélé", "Gôh-Djiboua", "Lacs", "Lagunes", "Montagnes", "Sassandra-Marahoué", "Savanes", "Vallée du Bandama", "Woroba", "Yamoussoukro", "Zanzan"
                ],
                "Benin": [
                    "Alibori", "Atakora", "Atlantique", "Borgou", "Collines", "Donga", "Kouffo", "Littoral", "Mono", "Ouémé", "Plateau", "Zou"
                ],
                "Burkina Faso": [
                    "Boucle du Mouhoun", "Cascades", "Centre", "Centre-Est", "Centre-Nord", "Centre-Ouest", "Centre-Sud", "Est", "Hauts-Bassins", "Nord", "Plateau-Central", "Sahel", "Sud-Ouest"
                ],
                "Guinea": [
                    "Boké", "Conakry", "Faranah", "Kankan", "Kindia", "Labé", "Mamou", "Nzérékoré"
                ],
                "Liberia": [
                    "Bomi", "Bong", "Gbarpolu", "Grand Bassa", "Grand Cape Mount", "Grand Gedeh", "Grand Kru", "Lofa", "Margibi", "Maryland", "Montserrado", "Nimba", "Rivercess", "River Gee", "Sinoe"
                ],
                "Sierra Leone": [
                    "Eastern", "Northern", "North Western", "Southern", "Western Area"
                ],
                "Togo": [
                    "Centrale", "Kara", "Maritime", "Plateaux", "Savanes"
                ],
                "Niger": [
                    "Agadez", "Diffa", "Dosso", "Maradi", "Tahoua", "Tillabéri", "Zinder", "Niamey"
                ],
                "Guinea-Bissau": [
                    "Bafatá", "Biombo", "Bolama", "Cacheu", "Gabú", "Oio", "Quinara", "Tombali", "Bissau"
                ],
                "The Gambia": [
                    "Banjul", "Central River", "Lower River", "North Bank", "Upper River", "West Coast"
                ],
                "Mauritania": [
                    "Adrar", "Assaba", "Brakna", "Dakhlet Nouadhibou", "Gorgol", "Guidimaka", "Hodh Ech Chargui", "Hodh El Gharbi", "Inchiri", "Nouakchott-Nord", "Nouakchott-Ouest", "Tagant", "Tiris Zemmour", "Trarza"
                ],
                "Cape Verde": [
                    "Boa Vista", "Brava", "Fogo", "Maio", "Mosteiros", "Paul", "Porto Novo", "Praia", "Ribeira Grande", "Sal", "Santa Catarina", "Santa Cruz", "São Domingos", "São Filipe", "São Miguel", "São Nicolau", "São Vicente", "Tarrafal"
                ],
                "São Tomé and Príncipe": [
                    "Água Grande", "Cantagalo", "Caué", "Lembá", "Lobata", "Mé-Zóchi", "Príncipe"
                ],
                "United States": [
                    "Alabama", "Alaska", "Arizona", "Arkansas", "California", "Colorado", "Connecticut", "Delaware", "Florida", "Georgia",
                    "Hawaii", "Idaho", "Illinois", "Indiana", "Iowa", "Kansas", "Kentucky", "Louisiana", "Maine", "Maryland",
                    "Massachusetts", "Michigan", "Minnesota", "Mississippi", "Missouri", "Montana", "Nebraska", "Nevada", "New Hampshire", "New Jersey",
                    "New Mexico", "New York", "North Carolina", "North Dakota", "Ohio", "Oklahoma", "Oregon", "Pennsylvania", "Rhode Island", "South Carolina",
                    "South Dakota", "Tennessee", "Texas", "Utah", "Vermont", "Virginia", "Washington", "West Virginia", "Wisconsin", "Wyoming"
                ],
                "United Kingdom": [
                    "England", "Scotland", "Wales", "Northern Ireland"
                ],

                "Canada": [
                    "Alberta", "British Columbia", "Manitoba", "New Brunswick", "Newfoundland and Labrador", "Nova Scotia", "Ontario", "Prince Edward Island", "Quebec", "Saskatchewan",
                    "Northwest Territories", "Nunavut", "Yukon"
                ],

                "Australia": [
                    "New South Wales", "Queensland", "South Australia", "Tasmania", "Victoria", "Western Australia", "Australian Capital Territory", "Northern Territory"
                ],
                "South Africa": [
                    "Eastern Cape", "Free State", "Gauteng", "KwaZulu-Natal", "Limpopo",
                    "Mpumalanga", "North West", "Northern Cape", "Western Cape"
                ],

                "Kenya": [
                    "Baringo", "Bomet", "Bungoma", "Busia", "Elgeyo-Marakwet", "Embu",
                    "Garissa", "Homa Bay", "Isiolo", "Kajiado", "Kakamega", "Kericho",
                    "Kiambu", "Kilifi", "Kirinyaga", "Kisii", "Kisumu", "Kitui", "Kwale",
                    "Laikipia", "Lamu", "Machakos", "Makueni", "Mandera", "Meru",
                    "Migori", "Marsabit", "Mombasa", "Murang'a", "Nairobi", "Nakuru",
                    "Nandi", "Narok", "Nyamira", "Nyandarua", "Nyeri", "Samburu",
                    "Siaya", "Taita–Taveta", "Tana River", "Tharaka-Nithi", "Trans-Nzoia",
                    "Turkana", "Uasin Gishu", "Vihiga", "Wajir", "West Pokot"
                ],

                "Uganda": [
                    "Abim", "Adjumani", "Agago", "Alebtong", "Amolatar", "Amudat",
                    "Amuria", "Amuru", "Apac", "Arua", "Budaka", "Bududa", "Bugiri",
                    "Buhweju", "Buikwe", "Bukedea", "Bukomansimbi", "Bukwo", "Bulambuli",
                    "Buliisa", "Bundibugyo", "Bushenyi", "Busia", "Butaleja", "Butambala",
                    "Buvuma", "Buyende", "Dokolo", "Gomba", "Gulu", "Hoima", "Ibanda",
                    "Iganga", "Isingiro", "Jinja", "Kaabong", "Kabale", "Kabarole",
                    "Kaberamaido", "Kagadi", "Kakumiro", "Kalangala", "Kaliro", "Kalungu",
                    "Kampala", "Kamuli", "Kamwenge", "Kanungu", "Kapchorwa", "Kasese",
                    "Katakwi", "Kayunga", "Kibaale", "Kiboga", "Kibuku", "Kiruhura",
                    "Kiryandongo", "Kisoro", "Kitgum", "Koboko", "Kole", "Kotido",
                    "Kumi", "Kween", "Kyankwanzi", "Kyegegwa", "Kyenjojo", "Lamwo",
                    "Lira", "Luuka", "Luwero", "Lwengo", "Lyantonde", "Manafwa",
                    "Maracha", "Masaka", "Masindi", "Mayuge", "Mbale", "Mbarara",
                    "Mitooma", "Mityana", "Moroto", "Moyo", "Mpigi", "Mubende",
                    "Mukono", "Nakapiripirit", "Nakaseke", "Nakasongola", "Namayingo",
                    "Namutumba", "Napak", "Nebbi", "Ngora", "Ntungamo", "Nwoya",
                    "Otuke", "Oyam", "Pader", "Pallisa", "Rakai", "Rubirizi",
                    "Rukungiri", "Sembabule", "Serere", "Sheema", "Sironko", "Soroti",
                    "Tororo", "Wakiso", "Yumbe", "Zombo"
                ],

                "Morocco": [
                    "Béni Mellal-Khénifra", "Casablanca-Settat", "Dakhla-Oued Ed-Dahab",
                    "Drâa-Tafilalet", "Fès-Meknès", "Guelmim-Oued Noun", "Laâyoune-Sakia El Hamra",
                    "Marrakesh-Safi", "Oriental", "Rabat-Salé-Kénitra", "Souss-Massa",
                    "Tanger-Tetouan-Al Hoceima"
                ],

                "Ethiopia": [
                    "Addis Ababa", "Afar", "Amhara", "Benishangul-Gumuz", "Dire Dawa",
                    "Gambela", "Harari", "Oromia", "Sidama", "Somali", "Southern Nations, Nationalities, and Peoples'", "Tigray"
                ],
                "Cameroon": [
                    "Adamawa", "Centre", "East", "Far North", "Littoral", "North", "Northwest",
                    "South", "Southwest", "West"
                ],
                // ... add other countries and their states/regions
            };

            $('#countryDropdown').change(function () {
                const selectedCountry = $(this).val();
                const states = statesByCountry[selectedCountry] || [];

                $('#stateDropdown').empty();
                states.forEach(state => {
                    $('#stateDropdown').append(`<option value="${state}">${state}</option>`);
                });
            });

            $('#continentDropdown').change(function () {
                fetchCountries($(this).val());
            });

            fetchCountries('Africa');
        });
    </script>
}
